<template>
  <div>
    <Row style="padding: 0; position: relative; z-index:9">
      <Col span="24">
        <Card shadow class="chart-card" :padding="0">
          <div class="stats-items">
            <div class="stat mr-50">
              <h3 v-if="!account.totals || !account.totals.networth" class="zs zs-h3">&nbsp;</h3>
              <h3 v-if="account.totals && account.totals.networth">{{ displayAsCurrency(account.totals.networth) }}</h3>
              <!-- <h3 v-if="account.totals && account.totals.networth">${{ toMonetary(account.totals.networth) }}</h3> -->
              <h5>
                <span>Net Worth</span>
                <Tooltip max-width="250" content="This amount is the sum total of all account holdings. All summations use base currency (I.E. USD) to total consistently.">
                  <Icon type="md-information-circle" size="18" />
                </Tooltip>
              </h5>
            </div>
            <div class="stat sm mr-50">
              <h3 v-if="!account.totals || !account.totals.crypto" class="zs zs-h3">&nbsp;</h3>
              <h3 v-if="account.totals && account.totals.crypto">${{ toMonetary(account.totals.crypto) }}</h3>
              <h5>
                <span>Cryptocurrency</span>
              </h5>
            </div>
            <div class="stat sm mr-50">
              <h3 v-if="!account.totals || !account.totals.traditional" class="zs zs-h3">&nbsp;</h3>
              <h3 v-if="account.totals && account.totals.traditional">${{ toMonetary(account.totals.traditional) }}</h3>
              <h5>
                <span>Stocks</span>
              </h5>
            </div>
            <div class="stat sm mr-50">
              <h3 v-if="!account.totals || !account.totals.interest" class="zs zs-h3">&nbsp;</h3>
              <h3 v-if="account.totals && account.totals.interest">${{ toMonetary(account.totals.interest) }}</h3>
              <h5>
                <span>Staked Balance</span>
                <Tooltip max-width="250" content="This amount is the sum total of all staked balances. If a cryptocurrency uses Proof of Stake or similar, the stake balance will be the total assets committed to uphold the network, in return for validation rewards. All summations use base currency (I.E. USD) to total consistently.">
                  <Icon type="md-information-circle" size="18" />
                </Tooltip>
              </h5>
            </div>
            <div class="stat sm">
              <h3 v-if="!account.totals || !account.totals.interestPending" class="zs zs-h3">&nbsp;</h3>
              <h3 v-if="account.totals && account.totals.interestPending">${{ toMonetary(account.totals.interestPending) }}</h3>
              <h5>
                <span>Pending Rewards</span>
                <Tooltip max-width="250" content="This amount is the sum total of all unclaimed staking rewards. If a cryptocurrency uses Proof of Stake or similar, the pending reward balance will be the total unclaimed assets earned from validation of the network. All summations use base currency (I.E. USD) to total consistently.">
                  <Icon type="md-information-circle" size="18" />
                </Tooltip>
              </h5>
            </div>
          </div>
          <AccountSeries />
        </Card>
      </Col>
    </Row>

    <Row style="padding: 20px 0 0">
      <Col span="24">
        <!--  class="ivu-card-tertiary" -->
        <Card shadow>
          <GoalsOverview />
        </Card>
      </Col>
    </Row>

    <Row style="padding: 20px 0 0">
      <Col span="12" class="responsive-card">
        <Card shadow>
          <AccountsSummary />
        </Card>
      </Col>

      <Col span="12" class="responsive-card">
        <Card shadow>
          <GoalsSummary />
        </Card>
      </Col>

    </Row>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { mapGetters, mapActions } from 'vuex'
import { toMonetary, displayAsCurrency } from '@/utils/filters'
import { GetUser } from '@/gql/user'
import AccountSeries from '@/components/AccountSeries.vue'
import AccountsSummary from '@/components/AccountsSummary.vue'
import GoalsSummary from '@/components/GoalsSummary.vue'
import GoalsOverview from '@/components/GoalsOverview.vue'

export default {
  name: 'Home',

  components: {
    AccountSeries,
    AccountsSummary,
    GoalsSummary,
    GoalsOverview,
  },

  data() {
    return {
      account: {},
      toMonetary,
      displayAsCurrency,
    }
  },

  apollo: {
    user: {
      query: gql`${GetUser}`,
      variables() {
        return {
          id: this.user._id,
        }
      },
      result({ data }) {
        if (!data || !data.user) return {}
        this.account = data.user
        return data.user
      },
    },
  },

  computed: {
    ...mapGetters(['user']),
  },
}
</script>

<style scoped>
.stats-items {
  display: flex;
  margin: 0 30px 10px;
}
.mr-50 {
  margin-right: 50px;
}
.stat h3 {
  font-size: 24pt;
  vertical-align: top;
  line-height: 32pt;
  display: inline-flex;
  font-weight: 400;
}
.stat h5 {
  font-size: 10pt;
  text-transform: uppercase;
  margin: 4px 0 20px;
}
.stat h5 span,
.stat h5 .ivu-icon {
  opacity: 0.5;
}
.stat h5 .ivu-icon {
  margin-left: 7px;
}

.chart-card {
  padding: 32px 0 0px;
}

.zs {
  background: rgba(12, 181, 119,0.1);
  border-radius: 80px;
}
.zs.zs-h3 {
  width: 100%;
  min-width: 120px;
}

@media (max-width: 800px) {
  .chart-card {
    padding: 20px 0 0px;
  }
  .stats-items {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px 10px;
  }
  .stats-items .stat {
    min-width: 100%;
  }
  .stats-items .stat.sm {
    min-width: 50%;
  }
  .stat.sm h3 {
    font-size: 14pt;
    line-height: 16pt;
  }
  .stat.sm h5 {
    font-size: 7pt;
  }
  .mr-50 {
    margin-right: 0;
  }
  .stat .ivu-tooltip {
    display: none;
  }
}
</style>
