<template>
  <div>
    <Row style="padding: 20px 0">
      <Col span="12">
        <h1>Settings</h1>
      </Col>
      <Col span="12">
        <Button type="primary" size="large" style="float: right;" @click="logoutUser">Logout</Button>
      </Col>
    </Row>
    <Row style="padding: 20px 0">
      <Card shadow>

        <Collapse simple value="1">
          <Panel name="1">
            <h3 style="display: inline">General Preferences</h3>
            <div slot="content" style="padding: 20px 0">

              <h4>Data Polling Interval (in Minutes)</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <InputNumber :max="1000" :min="1" v-model="dataPollingIntervalKey" @on-blur="updateAdmin"></InputNumber>
                </Col>
              </Row>

              <h4>Alert Evaluation Interval (in Minutes)</h4>
              <Row style="padding: 10px 0 0;margin-bottom:0px">
                <Col span="12" class="responsive-card">
                  <InputNumber :max="1000" :min="1" v-model="alertingIntervalKey" @on-blur="updateAdmin"></InputNumber>
                </Col>
              </Row>

            </div>
          </Panel>

          <Panel name="2">
            <h3 style="display: inline">Integrations</h3>
            <div slot="content" style="padding: 20px 0">

              <h4>Slack Webhook Key</h4>
              <Row style="padding: 10px 0 0;margin-bottom:0px">
                <Col span="12" class="responsive-card">
                  <Input v-model="slackHookIdKey" @on-blur="updateUser" style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>To setup, go to <a href="https://api.slack.com/messaging/webhooks" target="_blank">slack.com</a>, follow the documentation to retrieve the webhook ID.</p>
                </Col>
              </Row>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="slackChannelIdKey" @on-blur="updateUser" style="width: 100%">
                    <span slot="prepend">Channel #</span>
                  </Input>
                </Col>
              </Row>

              <h4>Rocketchat Webhook Key</h4>
              <Row style="padding: 10px 0 0;margin-bottom:0px">
                <Col span="12" class="responsive-card">
                  <Input v-model="rocketchatHookIdKey" @on-blur="updateUser" style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>To setup, go to <a href="https://docs.rocket.chat/guides/administrator-guides/integrations#create-a-new-incoming-webhook" target="_blank">rocket.chat</a>, follow the documentation to retrieve the webhook ID.</p>
                </Col>
              </Row>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="rocketchatChannelIdKey" @on-blur="updateUser" style="width: 100%">
                    <span slot="prepend">Channel #</span>
                  </Input>
                </Col>
              </Row>

            </div>
          </Panel>
          <Panel name="3">
            <h3 style="display: inline">API Keys</h3>
            <div slot="content" style="padding: 20px 0">

              <h4>Alphavantage ID</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="alphavantageIdKey" @on-blur="updateAdmin" type="password" password style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>Need this key? Go to <a href="https://www.alphavantage.co/" target="_blank">alphavantage.co</a>, create an account and register for an API Key.</p>
                </Col>
              </Row>

              <h4>Amberdata ID</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="amberdataIdKey" @on-blur="updateAdmin" type="password" password style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>Need this key? Go to <a href="https://amberdata.io/" target="_blank">amberdata.io</a>, create an account and register for an API Key.</p>
                </Col>
              </Row>

              <h4>Infura ID</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="infuraIdKey" @on-blur="updateAdmin" type="password" password style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>Need this key? Go to <a href="https://infura.io" target="_blank">infura.io</a>, create an account and register for a project ID.</p>
                </Col>
              </Row>

              <h4>Portis ID</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="portisDappIdKey" @on-blur="updateAdmin" type="password" password style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>Need this key? Go to <a href="https://dashboard.portis.io/" target="_blank">portis.io</a>, create an account and register for a Dapp ID.</p>
                </Col>
              </Row>

              <h4>Quandl ID</h4>
              <Row style="padding: 10px 0 0;margin-bottom:20px">
                <Col span="12" class="responsive-card">
                  <Input v-model="quandlIdKey" @on-blur="updateAdmin" type="password" password style="width: 100%" />
                </Col>
                <Col span="12" class="responsive-card">
                  <p>Need this key? Go to <a href="https://www.quandl.com/" target="_blank">quandl.com</a>, create an account and register for an API Key.</p>
                </Col>
              </Row>

            </div>
          </Panel>
        </Collapse>

      </Card>
    </Row>

  </div>
</template>

<script>
import gql from 'graphql-tag'
import { mapGetters, mapActions } from 'vuex'
import { GetAdmin, UpdateAdmin } from '../gql/admin'
import { GetUser, UpdateUser } from '../gql/user'

export default {
  name: 'Settings',

  data() {
    return {
      alphavantageIdKey: null,
      amberdataIdKey: null,
      infuraIdKey: null,
      portisDappIdKey: null,
      quandlIdKey: null,
      dataPollingIntervalKey: 5,
      alertingIntervalKey: 30,
      slackHookIdKey: null,
      slackChannelIdKey: 'general',
      rocketchatHookIdKey: null,
      rocketchatChannelIdKey: 'general',
    }
  },

  apollo: {
    admin: {
      query: gql`${GetAdmin}`,
      result({ data }) {
        if (!data || !data.admin) return {}

        // loop and update local state
        Object.keys(data.admin).forEach(a => {
          let b = a
          if (a === '_id') b = 'adminId'
          if (a === '__typename') return
          this.update({ key: b, value: data.admin[a] })

          this[`${b}Key`] = data.admin[a]
        })

        return data.admin
      },
    },
  },

  computed: {
    ...mapGetters(['adminId']),
  },

  methods: {
    ...mapActions(['logout', 'update']),
    logoutUser() {
      this.logout()
      this.$router.replace('/auth')
    },
    async updateAdmin() {
      let data = {
        alphavantageId: this.alphavantageIdKey,
        amberdataId: this.amberdataIdKey,
        infuraId: this.infuraIdKey,
        portisDappId: this.portisDappIdKey,
        quandlId: this.quandlIdKey,
        dataPollingInterval: this.dataPollingIntervalKey,
        alertingInterval: this.alertingIntervalKey,
      }
      if (this.adminId) data._id = this.adminId
      let res

      try {
        res = await this.$apollo.mutate({
          mutation: gql`${UpdateAdmin}`,
          variables: data
        })
      } catch (e) {
        this.$Notice.error({
          title: 'Settings Update Error',
          desc: 'Please check your input and try again.'
        })
        return
      }

      this.$Notice.success({ title: 'Settings Updated' })

      if (res && res.data && res.data.updateAdmin) {
        // loop and update local state
        Object.keys(res.data.updateAdmin).forEach(a => {
          let b = a
          if (a === '_id') b = 'adminId'
          if (a === '__typename') return
          this.update({ key: b, value: res.data.updateAdmin[a] })
        })
      }
    },
    async updateUser() {
      let data = {
        slackHookId: slackHookIdKey,
        slackChannelId: slackChannelIdKey,
        rocketchatHookId: rocketchatHookIdKey,
        rocketchatChannelId: rocketchatChannelIdKey,
      }
      if (this.adminId) data._id = this.adminId
      let res

      try {
        res = await this.$apollo.mutate({
          mutation: gql`${UpdateUser}`,
          variables: data
        })
      } catch (e) {
        this.$Notice.error({
          title: 'Settings Update Error',
          desc: 'Please check your input and try again.'
        })
        return
      }

      this.$Notice.success({ title: 'Settings Updated' })

      if (res && res.data && res.data.updateUser) {
        // loop and update local state
        Object.keys(res.data.updateUser).forEach(a => {
          let b = a
          if (a === '_id') b = 'adminId'
          if (a === '__typename') return
          this.update({ key: b, value: res.data.updateUser[a] })
        })
      }
    },
  },
}
</script>

<style>
</style>
