<template>
  <div class="chart-wrap">
    <div class="chart-area">
      <AreaChart :chart-data="chartData" :options="chartOptions" id="1" ref="AreaChart" class="chart-wrap" />
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import { mapGetters, mapActions } from 'vuex'
import { DateTime } from 'luxon'
import { displayAsCurrency, toMonetary, getRand } from '@/utils/filters'
import { GetHoldingSeries } from '@/gql/account'
import AreaChart from '@/components/AreaChart.vue'

const getSeriesFromKey = (key, data) => {
  return data.map(d => {
    return {
      t: DateTime.fromMillis(parseInt(d.timestamp)).toISODate(),
      y: d[key],
    }
  })
}

const getZeroStateItem = (days = 0) => {
  const ts = DateTime.local()
  const d = {}
  const hr = ts.hour
  let offset = getRand(10, 350) * Math.round(days)
  if (offset <= 0) offset = days
  const crypto = Math.abs(getRand(7000, 10000) - offset)
  const traditional = Math.abs(getRand(9000, 10000) - offset)
  const transactions = getRand(5, 100)
  const networth = transactions + crypto
  d[typeof num !== 'undefined' ? num : hr] = { crypto, networth, traditional, transactions }
  const date = ts.minus({ days }).toISODate()

  return {
    timestamp: date,
    networth,
    crypto,
    traditional,
    transactions,
  }
}

// TODO: Change to only add missing days, currently adds entire month!
const fillEmptyRangeSeries = series => {
  const ts = DateTime.local()
  let s = []

  // loop a months worth of days, use available data or set 0 value
  for (var i = 0; i < 31; i++) {
    const tmpDate = ts.minus({ days: i }).toISODate()
    let hasDate = false
    series.forEach(sItem => {
      const sDate = DateTime.fromMillis(parseInt(sItem.t)).toISODate()
      if (`${sDate}` === `${tmpDate}`) {
        if (!sItem.y) sItem.y = '0'
        sItem.t = sDate
        s.push(sItem)
        hasDate = true
      }
    })
    if (!hasDate) s.push({ t: tmpDate, y: '0' })
  }
  // console.table(s.splice(0,2))

  return s.reverse()
}

const getZeroStateSeriesData = () => {
  let color = `1, 77, 78` // fallback primary
  let networthSeries, cryptoSeries, traditionalSeries, txnsSeries
  let holdingSeries = []
  for (var i = 0; i < 31; i++) {
    holdingSeries.push(getZeroStateItem(i))
  }

  holdingSeries = holdingSeries.reverse()

  const el = document.getElementById('line-chart')
  const ctx = el ? el.getContext('2d') : null
  let gradient = `rgba(${color}, 0.05)`
  if (ctx) {
    gradient = ctx.createLinearGradient(0, 0, 0, 400)
    gradient.addColorStop(0, `rgba(${color}, 0.05)`)
    gradient.addColorStop(1, `rgba(${color}, 0)`)
  }

  networthSeries = {
    backgroundColor: gradient,
    borderColor: `rgba(${color}, 0.1)`,
    borderWidth: 2,
    data: getSeriesFromKey('networth', holdingSeries) || [],
    pointRadius: 0,
    yAxisID: 'yaxis-1',
  }

  const tmpTxnSeries = getSeriesFromKey('transactions', holdingSeries)
  if (tmpTxnSeries && tmpTxnSeries.length > 0) {
    txnsSeries = {
      type: 'bar',
      backgroundColor: `rgba(0,0,0,0.02)`,
      borderColor: 'transparent',
      borderWidth: 0,
      data: tmpTxnSeries || [],
      pointRadius: 0,
      lineTension: 0,
      yAxisID: 'yaxis-2',
    }
  }

  const datasets = [networthSeries]

  if (cryptoSeries) datasets.push(cryptoSeries)
  if (traditionalSeries) datasets.push(traditionalSeries)
  if (txnsSeries) datasets.push(txnsSeries)

  return {
    datasets,
  }
}

export default {
  name: 'AccountSeries',

  components: {
    AreaChart,
  },

  data() {
    return {
      combinedChartActive: true,
    }
  },

  apollo: {
    networthSeries: {
      query: gql`${GetHoldingSeries}`,
      variables() { return { userId: this.user._id } },
    },
    cryptoSeries: {
      query: gql`${GetHoldingSeries}`,
      variables() { return { userId: this.user._id } },
    },
    traditionalSeries: {
      query: gql`${GetHoldingSeries}`,
      variables() { return { userId: this.user._id } },
    },
    transactionsSeries: {
      query: gql`${GetHoldingSeries}`,
      variables() { return { userId: this.user._id } }
    },
  },

  computed: {
    ...mapGetters(['user']),
    txnMax() {
      if (!this.chartData.datasets || this.chartData.datasets.length <= 0) return 100
      if (!this.chartData.datasets[this.chartData.datasets.length - 1].data || this.chartData.datasets[this.chartData.datasets.length - 1].data.length <= 0) return 100
      let max = 0
      this.chartData.datasets[this.chartData.datasets.length - 1].data.forEach(d => {
        if (parseInt(d.y, 10) > max) max = parseInt(d.y, 10)
      })
      return Math.round(max * 5)
    },
    chartOptions() {
      return {
        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        scales: {
      		xAxes: [{
            gridLines: { display: false },
            type: 'time',
            distribution: 'series',
            ticks: {
              source: 'data',
              callback: function(dataLabel, index) {
      					// Hide the label of every 2nd dataset. return null to hide the grid line too
      					return index % 5 === 0 ? dataLabel : ''
      				},
              fontColor: `rgba(81, 90, 110, 0.5)`,
              fontFamily: `'Futura', 'Avenir', 'Helvetica', 'sans-serif'`,
              fontSize: `10`,
              labelOffset: -50,
            }
      		}],
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'yaxis-1',
            gridLines: {
              color: 'rgba(0, 0, 0, 0)',
              zeroLineColor: 'rgba(0, 0, 0, 0.1)',
              zeroLineWidth: 0,
            },
            ticks: {
              // source: 'data',
              callback: function(value, index) {
      					// Hide the label of every 2nd dataset. return null to hide the grid line too
      					return index % 3 === 0 ? '$' + toMonetary(value) : ''
      				},
              fontColor: `rgba(81, 90, 110, 0.5)`,
              fontFamily: `'Futura', 'Avenir', 'Helvetica', 'sans-serif'`,
              padding: -60,
            },
					}, {
            stacked: true,
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: false,
						position: 'right',
						id: 'yaxis-2',
            gridLines: {
              color: 'rgba(0, 0, 0, 0)',
              zeroLineColor: 'rgba(0, 0, 0, 0.1)',
              zeroLineWidth: 0,
            },
            ticks: {
              // source: 'data',
              callback: function(value, index) {
      					// Hide the label of every 2nd dataset. return null to hide the grid line too
      					return index % 3 === 0 ? '$' + toMonetary(value) : ''
      				},
              // fontColor: `#014D4E`,
              fontColor: `rgba(81, 90, 110, 0.4)`,
              fontFamily: `'Futura', 'Avenir', 'Helvetica', 'sans-serif'`,
              padding: -40,
            },
					}, {
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: false,
						position: 'right',
						id: 'yaxis-3',
						gridLines: {
							drawOnChartArea: false
						},
            ticks: {
              max: this.txnMax,
            }
					}],
				}
      }
    },
    chartData() {
      // return zero state chart data
      if (!this.networthSeries || this.networthSeries.length <= 0) return getZeroStateSeriesData()
      let color = `12, 181, 119` // fallback primary
      let networthSeries, cryptoSeries, traditionalSeries, txnsSeries

      const el = document.getElementById('line-chart')
      const ctx = el ? el.getContext('2d') : null
      let gradient = `rgba(${color}, 0.4)`
      if (ctx) {
        gradient = ctx.createLinearGradient(0, 0, 0, 400)
        gradient.addColorStop(0, `rgba(${color}, 0.4)`)
        gradient.addColorStop(0.5, `rgba(${color}, 0)`)
        gradient.addColorStop(1, `rgba(${color}, 0)`)
      }

      networthSeries = {
        backgroundColor: this.combinedChartActive === true ? gradient : 'transparent',
        borderColor: this.combinedChartActive === true ? `rgba(${color}, 0.5)` : 'transparent',
        borderWidth: 2,
        data: this.networthSeries,
        pointRadius: 0,
        lineTension: 0.15,
        yAxisID: 'yaxis-1',
      }

      if (this.cryptoSeries && this.cryptoSeries.length > 0) {
        cryptoSeries = {
          type: 'line',
          backgroundColor: this.combinedChartActive === false ? `rgba(12, 158, 181, 0.25)` : 'transparent',
          borderColor: this.combinedChartActive === false ? `rgba(12, 158, 181, 1)` : 'transparent',
          borderWidth: 2,
          data: this.cryptoSeries || [],
          pointRadius: 0,
  				lineTension: 0.15,
          yAxisID: 'yaxis-2',
        }
      }

      if (this.traditionalSeries && this.traditionalSeries.length > 0) {
        traditionalSeries = {
          type: 'line',
          backgroundColor: this.combinedChartActive === false ? gradient : 'transparent',
          borderColor: this.combinedChartActive === false ? `rgba(${color}, 0.5)` : 'transparent',
          borderWidth: 2,
          data: this.traditionalSeries || [],
          pointRadius: 0,
  				lineTension: 0.15,
          yAxisID: 'yaxis-2',
        }
      }

      if (this.transactionsSeries && this.transactionsSeries.length > 0) {
        txnsSeries = {
          type: 'bar',
          backgroundColor: `rgba(81, 90, 110, 0.1)`,
          borderColor: `rgba(81, 90, 110, 1)`,
          borderWidth: 0,
          // data: fillEmptyRangeSeries(this.transactionSeries || []),
          data: this.transactionsSeries || [],
          pointRadius: 0,
          yAxisID: 'yaxis-3',
        }
      }

      const datasets = [networthSeries]

      if (cryptoSeries) datasets.push(cryptoSeries)
      if (traditionalSeries) datasets.push(traditionalSeries)
      if (txnsSeries) datasets.push(txnsSeries)

      return {
        datasets,
      }
    },
  },
}
</script>

<style scoped>
.chart-wrap {
  height: 30vh;
  min-height: 200px;
  max-height: 300px;
  position: relative;
  /* width: 1301px; */
  width: 100%;
  overflow:hidden;
}
.chart-area {
  position: relative;
  box-sizing: border-box;
  /* width: 1301px; */
  display: flex;
  /* width: 101.5%;
  left: -1%; */
}
</style>
