<template>
  <div id="app">
    <Drawer title="Menu" placement="right" v-model="isCollapsed">
      <Menu :active-name="activePage" v-on:on-select="collapsedSider" width="auto">
        <MenuItem name="1-1" :to="{ name: 'Portfolio' }">
          <Icon type="ios-compass" />
          <span>Overview</span>
        </MenuItem>
        <MenuItem name="2-1" :to="{ name: 'Accounts' }">
          <Icon type="logo-bitcoin" />
          <span>Accounts</span>
        </MenuItem>
        <!-- <MenuItem name="3-1" :to="{ name: 'Research' }">
          <Icon type="ios-flask" />
          <span>Research</span>
        </MenuItem> -->
        <MenuItem name="10-1" :to="{ name: 'Settings' }">
          <Icon type="ios-construct" />
          <span>Settings</span>
        </MenuItem>
        <MenuItem name="logout">
          <span>Logout</span>
        </MenuItem>
      </Menu>
    </Drawer>

    <Layout>
      <Header v-if="initialized && authenticated" :style="{padding: 0}" class="layout-header-bar">
        <a href="/" class="layout-logo">
          <svg width="268px" height="69px" viewBox="0 0 268 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-477.000000, -621.000000)" fill="var(--body-color)" fill-rule="nonzero">
                <g transform="translate(477.000000, 621.703125)">
                  <path
                    d="M99.5846227,40.1051346 C106.055431,46.7696579 104.411669,58.9779437 85.1876757,63.0647174 C85.1876757,54.6550097 70.3978296,51.3927956 51.5947995,51.3927956 C31.4366682,51.3927956 17.1399507,54.4868956 17.1399507,63.296875 C-2.14818964,59.3261801 -3.2547219,45.8050032 4.48699477,39.0444147 C13.9085557,30.8148293 17.7533544,44.4961148 51.4504692,44.4961148 C82.1527303,44.4961148 89.252979,29.4659137 99.5846227,40.1051346 Z"
                    id="Path"></path>
                  <path
                    d="M50.98,40.296875 C66.176,40.296875 83,32.7367788 83,32.7367788 L83,26.9515224 C83,13.7023237 74.652,0.296875 51.004,0.296875 C26.256,0.296875 19,14.114984 19,26.9515224 L19,33.0132212 C19,33.0132212 36.44,40.296875 50.98,40.296875 Z"
                    id="Path"></path>
                  <path
                    d="M119.898438,29.296875 L119.898438,23.0859375 L119.898438,23.0859375 L137.867188,23.0859375 L137.867188,23.0859375 L137.867188,29.296875 L137.867188,29.296875 L139.859375,29.296875 L139.859375,29.296875 L139.859375,0.0390625 L139.859375,0.0390625 L137.867188,0.0390625 L137.867188,0.0390625 L137.867188,21.0546875 L137.867188,21.0546875 L119.898438,21.0546875 L119.898438,21.0546875 L119.898438,0.0390625 L119.898438,0.0390625 L117.90625,0.0390625 L117.90625,0.0390625 L117.90625,29.296875 L117.90625,29.296875 L119.898438,29.296875 L119.898438,29.296875 Z M162.320312,29.296875 C164.924479,29.296875 167.320312,28.6588542 169.507812,27.3828125 C171.695312,26.1328125 173.440104,24.4661458 174.742188,22.3828125 C175.445312,21.2630208 175.979167,20.0520833 176.34375,18.75 C176.734375,17.4479167 176.929688,16.0807292 176.929688,14.6484375 C176.929688,12.0442708 176.291667,9.6484375 175.015625,7.4609375 C173.765625,5.2734375 172.098958,3.52864583 170.015625,2.2265625 C168.895833,1.5234375 167.684896,0.989583333 166.382812,0.625 C165.080729,0.234375 163.726562,0.0390625 162.320312,0.0390625 C159.690104,0.0390625 157.28125,0.677083333 155.09375,1.953125 C152.90625,3.203125 151.161458,4.86979167 149.859375,6.953125 C149.15625,8.07291667 148.622396,9.28385417 148.257812,10.5859375 C147.867188,11.8880208 147.671875,13.2421875 147.671875,14.6484375 C147.671875,16.0807292 147.867188,17.4479167 148.257812,18.75 C148.622396,20.0520833 149.15625,21.2630208 149.859375,22.3828125 C151.161458,24.4661458 152.90625,26.1328125 155.09375,27.3828125 C157.28125,28.6588542 159.690104,29.296875 162.320312,29.296875 Z M162.320312,27.3046875 C160.028646,27.3046875 157.932292,26.7578125 156.03125,25.6640625 C154.15625,24.5703125 152.658854,23.125 151.539062,21.328125 C150.940104,20.3645833 150.484375,19.3098958 150.171875,18.1640625 C149.833333,17.0442708 149.664062,15.8723958 149.664062,14.6484375 C149.664062,12.3828125 150.210938,10.3125 151.304688,8.4375 C152.398438,6.53645833 153.84375,5.02604167 155.640625,3.90625 C156.604167,3.30729167 157.658854,2.8515625 158.804688,2.5390625 C159.924479,2.20052083 161.096354,2.03125 162.320312,2.03125 C164.585938,2.03125 166.65625,2.578125 168.53125,3.671875 C170.432292,4.765625 171.942708,6.2109375 173.0625,8.0078125 C173.661458,8.97135417 174.117188,10.0130208 174.429688,11.1328125 C174.768229,12.2786458 174.9375,13.4505208 174.9375,14.6484375 C174.9375,16.9401042 174.390625,19.0234375 173.296875,20.8984375 C172.203125,22.7994792 170.757812,24.296875 168.960938,25.390625 C167.997396,25.9895833 166.955729,26.4583333 165.835938,26.796875 C164.690104,27.1354167 163.518229,27.3046875 162.320312,27.3046875 Z M196.1875,29.2578125 C198.088542,29.2578125 199.820312,28.8020833 201.382812,27.890625 C202.971354,26.9791667 204.221354,25.7682292 205.132812,24.2578125 C205.627604,23.4505208 206.018229,22.578125 206.304688,21.640625 C206.565104,20.703125 206.695312,19.7265625 206.695312,18.7109375 C206.695312,17.6953125 206.565104,16.71875 206.304688,15.78125 C206.018229,14.84375 205.627604,13.984375 205.132812,13.203125 C204.195312,11.6927083 202.945312,10.4817708 201.382812,9.5703125 C199.820312,8.65885417 198.088542,8.203125 196.1875,8.203125 L196.1875,8.203125 L194.664062,8.203125 C195.002604,7.78645833 195.263021,7.3046875 195.445312,6.7578125 C195.627604,6.23697917 195.71875,5.69010417 195.71875,5.1171875 C195.71875,3.7109375 195.210938,2.5 194.195312,1.484375 C193.205729,0.494791667 192.007812,0 190.601562,0 L190.601562,0 L184.742188,0 L184.742188,0 L184.742188,29.2578125 L184.742188,29.2578125 L196.1875,29.2578125 Z M190.601562,8.2421875 L186.773438,8.2421875 L186.773438,8.2421875 L186.773438,1.9921875 L186.773438,1.9921875 L190.601562,1.9921875 C191.460938,1.9921875 192.203125,2.29166667 192.828125,2.890625 C193.453125,3.48958333 193.765625,4.21875 193.765625,5.078125 C193.765625,5.9375 193.453125,6.6796875 192.828125,7.3046875 C192.385417,7.74739583 191.877604,8.03385417 191.304688,8.1640625 C191.070312,8.21614583 190.835938,8.2421875 190.601562,8.2421875 L190.601562,8.2421875 Z M196.1875,27.265625 L186.773438,27.265625 L186.773438,27.265625 L186.773438,10.234375 L186.773438,10.234375 L196.1875,10.234375 C198.557292,10.234375 200.575521,11.0677083 202.242188,12.734375 C203.882812,14.375 204.703125,16.3802083 204.703125,18.75 C204.703125,21.09375 203.882812,23.0989583 202.242188,24.765625 C200.575521,26.4322917 198.557292,27.265625 196.1875,27.265625 L196.1875,27.265625 Z M226.734375,29.2578125 C228.635417,29.2578125 230.367188,28.8020833 231.929688,27.890625 C233.518229,26.9791667 234.768229,25.7682292 235.679688,24.2578125 C236.174479,23.4505208 236.565104,22.578125 236.851562,21.640625 C237.111979,20.703125 237.242188,19.7265625 237.242188,18.7109375 C237.242188,17.6953125 237.111979,16.71875 236.851562,15.78125 C236.565104,14.84375 236.174479,13.984375 235.679688,13.203125 C234.742188,11.6927083 233.492188,10.4817708 231.929688,9.5703125 C230.367188,8.65885417 228.635417,8.203125 226.734375,8.203125 L226.734375,8.203125 L225.210938,8.203125 C225.549479,7.78645833 225.809896,7.3046875 225.992188,6.7578125 C226.174479,6.23697917 226.265625,5.69010417 226.265625,5.1171875 C226.265625,3.7109375 225.757812,2.5 224.742188,1.484375 C223.752604,0.494791667 222.554688,0 221.148438,0 L221.148438,0 L215.289062,0 L215.289062,0 L215.289062,29.2578125 L215.289062,29.2578125 L226.734375,29.2578125 Z M221.148438,8.2421875 L217.320312,8.2421875 L217.320312,8.2421875 L217.320312,1.9921875 L217.320312,1.9921875 L221.148438,1.9921875 C222.007812,1.9921875 222.75,2.29166667 223.375,2.890625 C224,3.48958333 224.3125,4.21875 224.3125,5.078125 C224.3125,5.9375 224,6.6796875 223.375,7.3046875 C222.932292,7.74739583 222.424479,8.03385417 221.851562,8.1640625 C221.617188,8.21614583 221.382812,8.2421875 221.148438,8.2421875 L221.148438,8.2421875 Z M226.734375,27.265625 L217.320312,27.265625 L217.320312,27.265625 L217.320312,10.234375 L217.320312,10.234375 L226.734375,10.234375 C229.104167,10.234375 231.122396,11.0677083 232.789062,12.734375 C234.429688,14.375 235.25,16.3802083 235.25,18.75 C235.25,21.09375 234.429688,23.0989583 232.789062,24.765625 C231.122396,26.4322917 229.104167,27.265625 226.734375,27.265625 L226.734375,27.265625 Z M257.046875,29.296875 L257.046875,21.0546875 C261.473958,11.7057292 264.794271,4.70052083 267.007812,0.0390625 L267.007812,0.0390625 L264.9375,0.0390625 C260.484375,9.38802083 257.515625,15.625 256.03125,18.75 C252.072917,10.4427083 249.104167,4.20572917 247.125,0.0390625 L247.125,0.0390625 L245.054688,0.0390625 C249.481771,9.38802083 252.802083,16.3932292 255.015625,21.0546875 L255.015625,21.0546875 L255.015625,29.296875 L255.015625,29.296875 L257.046875,29.296875 L257.046875,29.296875 Z"
                    id="HOBBY"
                    stroke="var(--body-color)"></path>
                  <path
                    d="M119.898438,66.296875 L119.898438,60.0859375 L119.898438,60.0859375 L137.867188,60.0859375 L137.867188,60.0859375 L137.867188,66.296875 L137.867188,66.296875 L139.859375,66.296875 L139.859375,66.296875 L139.859375,37.0390625 L139.859375,37.0390625 L137.867188,37.0390625 L137.867188,37.0390625 L137.867188,58.0546875 L137.867188,58.0546875 L119.898438,58.0546875 L119.898438,58.0546875 L119.898438,37.0390625 L119.898438,37.0390625 L117.90625,37.0390625 L117.90625,37.0390625 L117.90625,66.296875 L117.90625,66.296875 L119.898438,66.296875 L119.898438,66.296875 Z M162.320312,66.296875 C164.924479,66.296875 167.320312,65.6588542 169.507812,64.3828125 C171.695312,63.1328125 173.440104,61.4661458 174.742188,59.3828125 C175.445312,58.2630208 175.979167,57.0520833 176.34375,55.75 C176.734375,54.4479167 176.929688,53.0807292 176.929688,51.6484375 C176.929688,49.0442708 176.291667,46.6484375 175.015625,44.4609375 C173.765625,42.2734375 172.098958,40.5286458 170.015625,39.2265625 C168.895833,38.5234375 167.684896,37.9895833 166.382812,37.625 C165.080729,37.234375 163.726562,37.0390625 162.320312,37.0390625 C159.690104,37.0390625 157.28125,37.6770833 155.09375,38.953125 C152.90625,40.203125 151.161458,41.8697917 149.859375,43.953125 C149.15625,45.0729167 148.622396,46.2838542 148.257812,47.5859375 C147.867188,48.8880208 147.671875,50.2421875 147.671875,51.6484375 C147.671875,53.0807292 147.867188,54.4479167 148.257812,55.75 C148.622396,57.0520833 149.15625,58.2630208 149.859375,59.3828125 C151.161458,61.4661458 152.90625,63.1328125 155.09375,64.3828125 C157.28125,65.6588542 159.690104,66.296875 162.320312,66.296875 Z M162.320312,64.3046875 C160.028646,64.3046875 157.932292,63.7578125 156.03125,62.6640625 C154.15625,61.5703125 152.658854,60.125 151.539062,58.328125 C150.940104,57.3645833 150.484375,56.3098958 150.171875,55.1640625 C149.833333,54.0442708 149.664062,52.8723958 149.664062,51.6484375 C149.664062,49.3828125 150.210938,47.3125 151.304688,45.4375 C152.398438,43.5364583 153.84375,42.0260417 155.640625,40.90625 C156.604167,40.3072917 157.658854,39.8515625 158.804688,39.5390625 C159.924479,39.2005208 161.096354,39.03125 162.320312,39.03125 C164.585938,39.03125 166.65625,39.578125 168.53125,40.671875 C170.432292,41.765625 171.942708,43.2109375 173.0625,45.0078125 C173.661458,45.9713542 174.117188,47.0130208 174.429688,48.1328125 C174.768229,49.2786458 174.9375,50.4505208 174.9375,51.6484375 C174.9375,53.9401042 174.390625,56.0234375 173.296875,57.8984375 C172.203125,59.7994792 170.757812,61.296875 168.960938,62.390625 C167.997396,62.9895833 166.955729,63.4583333 165.835938,63.796875 C164.690104,64.1354167 163.518229,64.3046875 162.320312,64.3046875 Z M192.085938,66.296875 C193.492188,66.296875 194.846354,66.1015625 196.148438,65.7109375 C197.450521,65.3463542 198.661458,64.8125 199.78125,64.109375 C201.864583,62.8072917 203.53125,61.0625 204.78125,58.875 C206.057292,56.6875 206.695312,54.2786458 206.695312,51.6484375 C206.695312,49.0442708 206.057292,46.6484375 204.78125,44.4609375 C203.53125,42.2734375 201.864583,40.5286458 199.78125,39.2265625 C198.661458,38.5234375 197.450521,37.9895833 196.148438,37.625 C194.846354,37.234375 193.492188,37.0390625 192.085938,37.0390625 L184.742188,37.0390625 L184.742188,37.0390625 L184.742188,66.296875 L184.742188,66.296875 L192.085938,66.296875 L192.085938,66.296875 Z M192.085938,64.3046875 L186.734375,64.3046875 L186.734375,64.3046875 L186.734375,39.03125 L186.734375,39.03125 L192.085938,39.03125 L192.085938,39.03125 C194.351562,39.03125 196.421875,39.578125 198.296875,40.671875 C200.197917,41.765625 201.708333,43.2109375 202.828125,45.0078125 C203.427083,45.9713542 203.882812,47.0130208 204.195312,48.1328125 C204.533854,49.2786458 204.703125,50.4505208 204.703125,51.6484375 C204.703125,52.8723958 204.533854,54.0442708 204.195312,55.1640625 C203.882812,56.3098958 203.427083,57.3645833 202.828125,58.328125 C201.708333,60.125 200.197917,61.5703125 198.296875,62.6640625 C196.421875,63.7578125 194.351562,64.3046875 192.085938,64.3046875 Z M234.742188,66.296875 L234.742188,64.3046875 L234.742188,64.3046875 L222.085938,64.3046875 L222.085938,64.3046875 L222.085938,37.0390625 L222.085938,37.0390625 L220.09375,37.0390625 L220.09375,37.0390625 L220.09375,66.296875 L220.09375,66.296875 L234.742188,66.296875 L234.742188,66.296875 Z M244.546875,66.296875 L244.546875,58.0546875 L244.546875,58.0546875 L251.265625,58.0546875 C252.932292,61.7265625 254.169271,64.4739583 254.976562,66.296875 L254.976562,66.296875 L257.203125,66.296875 C255.5625,62.6510417 254.338542,59.9036458 253.53125,58.0546875 L253.53125,58.0546875 L254,58.0546875 C255.875,58.0546875 257.606771,57.5989583 259.195312,56.6875 C260.757812,55.7760417 262.007812,54.578125 262.945312,53.09375 C263.440104,52.2864583 263.817708,51.4140625 264.078125,50.4765625 C264.364583,49.5390625 264.507812,48.5625 264.507812,47.546875 C264.507812,45.671875 264.052083,43.9401042 263.140625,42.3515625 C262.229167,40.7890625 261.03125,39.5390625 259.546875,38.6015625 C258.739583,38.1067708 257.867188,37.7161458 256.929688,37.4296875 C255.992188,37.1692708 255.015625,37.0390625 254,37.0390625 L254,37.0390625 L242.554688,37.0390625 L242.554688,37.0390625 L242.554688,66.296875 L242.554688,66.296875 L244.546875,66.296875 L244.546875,66.296875 Z M254,56.0625 L244.546875,56.0625 L244.546875,56.0625 L244.546875,39.03125 L244.546875,39.03125 L254,39.03125 C256.34375,39.03125 258.348958,39.8645833 260.015625,41.53125 C261.682292,43.1979167 262.515625,45.203125 262.515625,47.546875 C262.515625,49.9166667 261.682292,51.921875 260.015625,53.5625 C258.348958,55.2291667 256.34375,56.0625 254,56.0625 L254,56.0625 Z"
                    id="HODLR"
                    stroke="var(--body-color)"
                    stroke-width="4"></path>
                </g>
              </g>
            </g>
          </svg>
        </a>
        <Menu mode="horizontal" :active-name="activePage" width="auto" :style="{margin: 'auto 20px auto auto'}">
          <MenuItem name="1-1" :to="{ name: 'Portfolio' }">
            <Icon type="ios-compass" />
            <span>Overview</span>
          </MenuItem>
          <MenuItem name="2-1" :to="{ name: 'Accounts' }">
            <Icon type="logo-bitcoin" />
            <span>Accounts</span>
          </MenuItem>
          <!-- <MenuItem name="3-1" :to="{ name: 'Research' }">
            <Icon type="ios-flask" />
            <span>Research</span>
          </MenuItem> -->
          <MenuItem name="10-1" :to="{ name: 'Settings' }">
            <Icon type="ios-construct" />
            <span>Settings</span>
          </MenuItem>
        </Menu>

        <ToggleTheme class="toggle-theme" />
        <div class="toggle-menu" @click="collapsedSider">
          <Icon type="md-menu" size="24" />
        </div>
      </Header>

      <Content class="content-wrapper" :style="{minHeight: '260px'}">
        <router-view />
      </Content>
    </Layout>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import ToggleTheme from '@/components/ToggleTheme'

const baseServerUrl = `http://${window.location.hostname}:2000`

export default {
  name: 'App',

  components: {
    ToggleTheme,
  },

  data() {
    return {
      isCollapsed: false,
      activePage: '1-1',
    }
  },

  computed: {
    ...mapGetters(['initialized', 'authenticated']),
    rotateIcon() {
      return [
        'menu-icon',
        this.isCollapsed ? 'rotate-icon' : ''
      ]
    },
    menuitemClasses() {
      return [
        'menu-item',
        this.isCollapsed ? 'collapsed-menu' : ''
      ]
    },
  },

  methods: {
    ...mapActions(['update', 'logout']),
    collapsedSider(name) {
      this.isCollapsed = !this.isCollapsed
      if (name === 'logout') {
        this.logout()
        this.$router.replace('/auth')
      }
    },
    checkInitialized() {
      const name = this.$route.name

      // Force redirect to Setup flow if un-initialized
      if (this.initialized === false && name !== 'Setup') {
        this.$router.replace('/setup')
      } else if (this.initialized === true && name === 'Setup') {
        this.$router.replace('/')
      }
    },
    checkAuthed() {
      const name = this.$route.name

      // Force redirect to Setup flow if un-initialized
      if (this.authenticated === false && name !== 'Login') {
        this.$router.replace('/auth')
      } else if (this.authenticated === true && name === 'Login') {
        this.$router.replace('/')
      }
    },
  },

  async created() {
    await axios.get(`${baseServerUrl}/initialize`).then(res => {
      this.$store.dispatch('update', { key: 'initialized', value: res.data.initialized })
      this.$nextTick(() => this.checkInitialized())
    })
	},

  mounted() {
    // Set the current selected menu link based on current route
    const name = this.$route.name
    switch (name) {
      case 'Portfolio':
        this.activePage = '1-1'
        break;
      case 'Accounts':
        this.activePage = '2-1'
        break;
      case 'Research':
        this.activePage = '3-1'
        break;
      case 'Settings':
        this.activePage = '10-1'
        break;
      default:
        this.activePage = '1-1'
    }

    this.checkAuthed()
  }
}
</script>

<style scoped>
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.ivu-layout-sider {
  /* background: #ffffff; */
  min-height: 100vh;
}

.layout-logo {
  width: 150px;
  height: 100%;
  display: flex;
  margin: auto 20px;
}

.layout-logo svg {
  height: 32px;
  width: 130px;
  margin: auto 0;
}

.ivu-layout-header {
  position: relative;
}

.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}

.menu-icon {
  transition: all .3s;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.menu-item span {
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}

.menu-item i {
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}

.collapsed-menu span {
  width: 0px;
  transition: width .2s ease;
}

.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}

.ivu-menu-horizontal {
  height: 65px;
}

.layout-header-bar {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.layout-header-bar .ivu-icon-md-menu {
  display: none;
}

.content-wrapper {
  margin: 20px;
}

.toggle-theme {
  margin: auto 20px auto 0;
}

.toggle-menu {
  margin: auto 20px auto 0;
}

@media (max-width: 800px) {
  .layout-header-bar .ivu-menu-horizontal {
    display: none;
  }
  .layout-header-bar .ivu-icon-md-menu {
    display: flex;
  }
  .toggle-theme {
    margin: auto 20px auto auto;
  }
  .content-wrapper {
    margin: 0px;
  }
}
</style>
